*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
   
    
}

.titulo{
    margin:20px 0;
    color:#E53071;
    text-align: center;
    
}

.paragrafo{
    margin: 40px 100px;
    text-align: center;
}

.clearfix .col{
    margin: 10px;  
}

.clearfix{
    overflow: hidden;
    margin: 10px 20px 30px 100px;   

}


.clearfix::after {
	content: "";
	clear: both;
	display: table;
    
}

.col {
    width: 30% ; 
    float: left;
    box-sizing: border-box;
    background-color: black;
    box-shadow: webkit-box-shadow -2px 2px 10px 2px #CBCBCB;
    box-shadow: -2px 2px 10px 2px #CBCBCB;
    
}

.img{
    height: 100px;
    float: left;
}

.element{
    padding-top: 10px ;
    margin-left: 27%;
    
   
}

.name{
    color: #F0FBFD;
    padding: 3px;

}

.profesione{
    color: #BABEC0;   
    padding: 3px;

}

.email{
    color: #3896BF;
    padding: 3px;

}




